<!DOCTYPE html>
<html>
  <head>
    <title>Tpp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <div class="alert-container">
        <% unless flash.empty? %>
            <% flash.each do |key, value| %>
              <% if value.kind_of?(Array) %>
                <% value.each do |val| %>
                  <div class="alert alert-<%= key %>"><%= val %></div>
                <% end %>
              <% else %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            <% end %>
          <%= javascript_include_tag('alert') %>
        <% end %>
      </div>
    </div>
  </body>
</html>
